## Basic Data Structure
1. Tuple
2. List
3. Dictionary
4. Set

### Tuple
Order collection of elements
Enclosed in () / round braces
Different element can be stored
Once elements stroed not change ( unmutable)

In [2]:
tup1= (1, "Python", True , 2.4)
tup1
#type of tupple
type(tup1)

tuple

In [11]:
### -Indexing
tup1[1]
tup1[0:2]
len(tup1)

### Concatinate
tup2 = (2,"babaammar",3.5,False)
tup1 + tup2
tup1*2 + tup2

### Minimum / Maximum
tup3 = ( 20,30,40,60,58,85)
min(tup3)
max(tup3)
2*tup3

(20, 30, 40, 60, 58, 85, 20, 30, 40, 60, 58, 85)

In [175]:
# For counting elements in tupple
tup4 =  ( 20,30,20,40,60,58,20,85,30)
print( tup2.count(3.5), tup4.count(20), tup4.count(58), tup4.count(22) )

1 3 1 0

### LIST
- Ordered collection of elements
- enclosed in [] square bracket
- Mutable, you can change the value

In [164]:
list1 = [2,"babaammar",3.5,False]
list1
print( "type = ", type(list1) ,"   length =", len(list1), "   At index 2 is = ", list1[2] )

list2 = [2,5, "Faiz", "Ali", 65.4, 65.4, False]
print(list2 + list1)

list1.reverse()
list1

list1.append("help me")
list1.append("Thank u")
list1

# Assignment Tutorial-5 DataStructure: Count the number of same element in List 
list2 = [2,5, "Faiz", "Ali", 65.4, 65.4, False]
list2.count(65.4)

type =  <class 'list'>    length = 4    At index 2 is =  3.5
[2, 5, 'Faiz', 'Ali', 65.4, 65.4, False, 2, 'babaammar', 3.5, False]

2

In [152]:

# Assignment Tutorial-5 DataStructure: Count the number of same element in List 
list2 = [2,5, "Faiz", "Ali", 65.4, 65.4, False]
list2.count(65.4)

2

In [148]:
# List sorted
list4 = [4,64,61,24,15, 90, 94]
list4.sort()
list4

[4, 15, 24, 61, 64, 90, 94]

In [147]:
list3 = list1 + list2
list3

[False,
 3.5,
 'babaammar',
 2,
 'help me',
 'Thank u',
 2,
 5,
 'Faiz',
 'Ali',
 65.4,
 65.4,
 False]

In [160]:
list1.insert(5,"Ali")
list1.insert(1,"Ali")
list1

[False, 'Ali', 3.5, 'babaammar', 2, 'help me', 'Ali', 'Thank u']

In [165]:
list1.extend('hope')
list1

[False, 3.5, 'babaammar', 2, 'help me', 'Thank u', 'h', 'o', 'p', 'e']

In [167]:
list1.clear()
list1

[]

### Dictionary
- An  inordered collection of element
- key and value
- curly braces of brackets {}
- Mutable change the values

In [62]:
food1= {'Samosa':25 , 'pakora' : 100, 'Rita' : 21, 'chicken': 45}
food1
type(food1)

# Extract data
keys1 = food1.keys()
keys1

Values1 = food1.values()
Values1

# Adding new element / Mutating
food1["tikk"] = 88
food1
#  update Values
food1["tikk"] = 50
food1

food2 = {"Dates":115 , "Choclates": 200 , "Sweets": 400}
food2

# Concatinate
food1.update(food2)
print(food1)
food2

{'Samosa': 25, 'pakora': 100, 'Rita': 21, 'chicken': 45, 'tikk': 50, 'Dates': 115, 'Choclates': 200, 'Sweets': 400}

{'Dates': 115, 'Choclates': 200, 'Sweets': 400}

In [125]:
food1.items()

dict_items([('Samosa', 25), ('pakora', 100), ('Rita', 21), ('chicken', 45), ('tikk', 50), ('Dates', 115), ('Choclates', 200), ('Sweets', 400)])

In [126]:
food1.get("Dates")

115

In [135]:
food_copy=food1.copy()
food_copy

{'Samosa': 25,
 'pakora': 100,
 'Rita': 21,
 'chicken': 45,
 'tikk': 50,
 'Dates': 115,
 'Choclates': 200,
 'Sweets': 400}

### SETS
- Unordered and unidexed
- curly braces , {} used
- No duplicates

In [106]:
s1 = {1,5,6,4.1, 'ammar', 'khan', 'Topi',True}
s1
s1.add("faiz")
s1
s1.add("ammar") # Duplicate not added
s1
s1.remove("khan")
s1

{1, 4.1, 5, 6, 'Topi', 'ammar', 'faiz'}

In [109]:
# Update Function
s1 = {1,5,6,4.1, 'ammar', 'khan', 'Topi',True}
s2 = { 9, 1, 'pyton', 'ammar', 'Ali'}
s1.update(s2) 
print(s1)

{1, 4.1, 5, 6, 'ammar', 'Topi', 'Ali', 9, 'pyton', 'khan'}
{1, 'ammar', 5, 6, 'khan'}
{4.1, 5, 'Topi', 6, 'khan'}

In [ ]:
# Difference Function
s1 = {1,5,6,4.1, 'ammar', 'khan', 'Topi',True}
s3 = s1.difference({"Topi",4.1})
print(s3)

In [110]:
# difference_update
s1.difference_update(s3)
s1

{4.1, 'Topi'}

In [123]:
# Union and Intersection of Sets
s1 = {1,5,6,4.1, 'ammar', 'khan', 'Topi',True}
s2 = { 9, 1, 'pyton', 'ammar', 'Ali'}
s3= s1.intersection(s2)
s4 = s1.union(s2)
print(s3 ,s4)

{1, 'ammar'} {1, 4.1, 5, 6, 'ammar', 'Topi', 'Ali', 9, 'pyton', 'khan'}

In [124]:
print(s4.issuperset(s1) , s1.issuperset(s2) , s3.issuperset(s1))
print(s4.issubset(s1) , s1.issubset(s2), s3.issubset(s1))
print(s4.clear() , s1.pop())
print(s)

True False False
False False True
None 1

NameError: name 's' is not defined